:root {
  --primary-color: #ffffff;
  --primary-font-color: #ffffff;
  --primary-hover-font-color: #f5f5f5;
  --primary-hover-color: white;
  --success-color: green;
  --success-hover-color: green;
  --warning-color: orange;
  --warning-hover-color: orange;
  --danger-color: red;
  --danger-hover-color: red;
  --info-color: #0d6c95;
  --info-hover-color: #0d6c95;
  --white-color: #ffffff;
  --gray-color: #ccc;
  --rem: 16px;
  --nav-height: 4rem;
  --btn-nav-max-height: 1.5vw;
  --footer-gap: .5rem;
}